{% extends 'base.html' %}

{% block content %}
<div id="card_landscape_wrap-2">
     <div class="container">
         <div class="row">
             <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                 <a href="">
                     <div class="card-flyer">
                         <div class="text-box">
                             <div class="image-box">
                                 <img src="https://www.kindpng.com/picc/m/405-4054408_child-clip-art-black-and-white-student-thinking.png" alt="" />
                             </div>
                             <div class="text-container">
                                 <h6>6,61,752 </h6>
                                 <p>children impacted overall</p>
                                 <br><br><br>
                             </div>
                         </div>
                     </div>
                 </a>
             </div>
             <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                 <a href="">
                     <div class="card-flyer">
                         <div class="text-box">
                             <div class="image-box">
                                 <img src="https://education.maharashtra.gov.in/saral2/images/school-icon.png" alt="" />
                             </div>
                             <div class="text-container">
                                 <h6>80% </h6>
                                 <p>children in CRY project areas, between the ages of 6-18 years, in school</p>
                                 <br>
                             </div>
                         </div>
                     </div>
                 </a>
             </div>
             <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                 <a href="">
                     <div class="card-flyer">
                         <div class="text-box">
                             <div class="image-box">
                                 <img src="https://static.vecteezy.com/system/resources/previews/000/463/565/non_2x/healthy-food-clipart-vector.jpg" alt="" />
                             </div>

                             <div class="text-container">
                                 <h6>86% </h6>
                                <p>children in CRY project areas, under the age of 5 years, prevented from malnutrition</p>
                                <br>
                             </div>
                         </div>
                     </div>
                 </a>
             </div>
             <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                 <a href="">
                     <div class="card-flyer">
                         <div class="text-box">
                             <div class="image-box">
                                 <img src="https://us.123rf.com/450wm/tigatelu/tigatelu1907/tigatelu190700120/127906473-vector-illustration-of-cartoon-happy-school-girl-carrying-book-and-backpack.jpg?ver=6" alt="" />
                             </div>
                             <div class="text-container">
                                 <h6>99% </h6>
                                <p>of adolescent girls, in CRY project areas, between 11-18 years, protected from child marriage</p>
                             </div>
                         </div>
                     </div>
                 </a>
             </div>
         </div>
     </div>
 </div>
 <div id="card_landscape_wrap-2">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://media.istockphoto.com/vectors/unity-three-logo-people-illustration-vector-id1125121630?k=20&m=1125121630&s=612x612&w=0&h=qdPWEsK06WAmbcxF3BcBMpElHcxYBPQeJRiHk6WNB90=" alt="" />
                              </div>
                              <div class="text-container">
                                  <h6>5745</h6>
                                  <p> Community Associates</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://media.istockphoto.com/vectors/vector-afro-american-girl-jumping-and-laughing-cartoon-character-on-vector-id1241500617?k=20&m=1241500617&s=612x612&w=0&h=gSc4w3UT4JTqqcUqyOpuA9AUdbfEmintIP4Sdtyg3eA=" alt="" />
                              </div>
                              <div class="text-container">
                                  <h6>1,74,681</h6>
                                  <p> Girls Supported</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://www.kindpng.com/picc/m/476-4765813_support-clipart-helping-hand-elementary-school-counselor-clip.png" alt="" />
                              </div>

                              <div class="text-container">
                                  <h6>6805</h6>
                                 <p>Academic Support Centres</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  <a href="">
                      <div class="card-flyer">
                          <div class="text-box">
                              <div class="image-box">
                                  <img src="https://education.maharashtra.gov.in/saral2/images/school-icon.png" alt="" />
                              </div>
                              <div class="text-container">
                                  <h6>78,437 </h6>
                                 <p>Girls in Secondary Schools</p>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>



  {% endblock %}
